* {
  font-family: 'Open Sans', sans-serif;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../img/clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/*#map-cont{
  display: none;
}*/
#map {
  height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius:1em;
  margin:auto;
  position: relative;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
.content-container {
  height: 75%;
  width: 100%;
}
.map-container{
  height: 100%;
  width: 45%;
  margin: 0 auto;
}
#weatherbox{
  float:left;
  height: 100%;
  width:45%;
  margin-left:5%;
}
#result-container{
  padding: .5rem;
}
.weather-display{
  padding-top:1rem;
  font-size: 1.15rem;
  font-family: 'Droid Sans', sans-serif;
  color: white;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px #000000;
  -webkit-text-stroke: .1px grey;
}

.nav-box a:hover {
  background-color: #F2F2F2;
  text-decoration-color: : black;
}
.top-barcoloring{
  background-color: #CACCF2;
}


/*Search Box Styling*/
form {
  padding-top: 10px;
  width:500px;
  margin: auto;
}
input[name=sinput]{
  box-shadow: none;
}
input[type=submit]
.sinput {
  margin-top: 10px;
  margin-bottom: 2px;
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
.submit {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.submit:hover  {
  background-color:#fafafa;
  color:#207cca;
}
/*End of Search Box Styling*/
#aboutcontent {
  width:40%;
  height: 200px;
  background-color: #E0E0E0;
  margin:auto;
  margin-top: 15%;
  padding:auto;
  position:relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius:1em;
}

#abouttext {
  text-align: center;
  position: bottom;
  color:black;
  font-family: Arial;
  margin-left:5%;
  margin-right:5%;
  padding-top:10%;
  line-height: 30px;
}
